/*
  Slide styles based on:
  https://github.com/Demotive/gds-data-screens
*/

html {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "nta", Arial, sans-serif;
  font-weight: bold;
  line-height: 1.18;
  color: #fff;
  /*font-size: 25px;*/
  font-size: 56px;
}

.total-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.slide {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: -100%;
  background-color: #000;
  -webkit-transform: translateZ(0);
  transition: top 0.75s ease-out;
}

.slide.now {
  top: 0%;
  z-index: 2;
}

.slide.prev {
  top: 100%;
  z-index: 1;
}

.slide-container {
  padding: 0 8%;
}

.slide-content {
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
}

.big-280 {
  font-size: 350%;
}

.big-340 {
  font-size: 375%;
}

.big-480 {
  font-size: 700%;
}

.crown {
  top: 2px;
  width: 65px;
}

.govuk {
  font-size: 95%;
  text-transform: uppercase;
}

.govuk .dot {
  position: relative;
  margin-left: -0.09em;
}

/* ==========================================================================
  Individual slides
  ========================================================================== */

.online-now {
  background-color: #005ea5;
}
